*{
    color: rgb(0, 0, 0);
}

body{
    background-color: rgb(255, 185, 185);
}

.container{
    position: relative;
    max-width: 600px;
    background-color: rgb(254, 223, 223);
}



.agenda:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #59d102 0%, #f3f520 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}


.agenda::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        